.card-container {
  position: relative; 
  display: flex;
  border-radius: .8rem;
  overflow: hidden;
  font-family: "Montserrat" !important;
  gap: 1rem;
  padding: 1.2rem 1rem 1.2rem 1rem;
  align-items: center;
  z-index: 1;
  border: 1px solid rgb(245, 244, 244);
  box-shadow: 6px 8px 5px -1px rgba(199,191,191,0.54);
  -webkit-box-shadow: 6px 8px 5px -1px rgba(199,191,191,0.54);
  -moz-box-shadow: 6px 8px 5px -1px rgba(199,191,191,0.54);
  margin-bottom: 2rem;
  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 50%;
  //   right: 0;
  //   transform: translateY(-50%); 
  //   // width: 90%;
  //   // height: 90%; 
  //   width: 100%;
  //   height: 90%;
  //   // background-color: #f7f7f7;
  //   border: 1px solid rgb(245, 244, 244);
  //   border-radius: 10px;
  //   z-index: 1;
  //   box-shadow: 0px 4px 4px 0px rgba(83, 83, 83, 0.25);  
  // }
  
}

.card-image-container {
  flex: 1;
  overflow: hidden;
  z-index: 9;
  height: 13rem;
  width: 18rem;
  align-items: center;
  border-radius: .2rem;
  margin-left: .5rem;
  font-family: "Montserrat";

  img {
    object-fit: cover;
    border-radius: 10px;   
    width: 100%;
    height: 100%;
 
  }

   .card-progress {
    position: absolute;
    top: 80%; 
    left: 17%; 
    transform: translate(-50%, -50%); 
    width: 259px;
    height:10px;
    display: flex;
    align-items: center;
    // background-color: #ffffff59;
    // padding: 1rem;
    // z-index: 2;
  
    progress {
      width: 100%;
      height: 100%;
      border-radius: 5px;  
  
      &::-webkit-progress-bar {
        background-color: #e7e7e7a7;  
        border-radius: 5px;  
      }
  
      &::-webkit-progress-value {
        background-color: var(--Libertum-color);  
        border-radius: 5px; 
      }
    }
    .progress-text {
      color: #FFF;
      font-size: 8px;
      font-family: montserrat;
      font-style: normal;
      font-weight: 600;
      line-height: 0px;
      text-transform: uppercase;  
      flex-shrink: 0;
      margin-left: 10px;
    }
  }

  .card-image-container-savebutton{
    position: absolute;
    top: 22%; 
    left: 31%; 
    transform: translate(-50%, -50%); 

  }
 }

.card-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  z-index: 6;
  font-family: "Montserrat";
}

.card-content-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 10px;
  gap: .5rem;
  font-family: "Montserrat";
  .card-content-header-title {
    flex: 2;

  h3{
    color: #404142a5;    
    font-size: .7rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    text-align: left;
    text-transform: uppercase;
    font-family: "Montserrat";
  } 
  h2 {
    color: #404142;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; 
    text-align: left;
    font-family: "Montserrat";
  }
}

 .card-content-header-flags{
  display: flex;
  gap: .5rem;
  p {
    margin: 0;
    max-width: 10rem;
    max-height: 3rem;
    line-height: 1rem;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    &:nth-child(1){
      // (Proyected rental yield)
      border-radius: 0.625rem;
      // background: #009fd498;
      border: 1px solid var(--Libertum-color);
      color: rgb(172, 172, 172);
      padding: .4rem .5rem;
      box-shadow: 0px 4px 4px 0px rgba(111, 110, 110, 0.25);  
    }
  
    &:nth-child(2) {
      // (Annual repayment)
      border-radius: 0.625rem;
      // background: #f7941abb;
      border: 1px solid var(--LibertumBlue);
      color: rgb(172, 172, 172);
      padding: .4rem .5rem;
      box-shadow: 0px 4px 4px 0px rgba(111, 110, 110, 0.25);
    }
  }
}


}


.card-content-columns {
  display: flex;
}

.card-content-details {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: .5rem;


  h5 {
    display: flex;
    height: 1.75rem;
    padding: .5rem .2rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    background: #949494;
    width: 12rem;
    color: #FFF;
    text-align: center;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.6rem;
    padding: .2rem .5rem;
    box-shadow: 0px 4px 4px 0px rgba(128, 128, 128, 0.438);  
    font-family: "Montserrat";

      span {
        font-size: 0.7rem;  
        margin-left: .2rem; 
        font-family: "Montserrat";
      }
  }

  p {
    color: var(--gray-500, #505050);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; 
    text-align: left;
    font-family: "Montserrat";
    
      span{
        font-weight: 600;
        color: #7f7f7f;
      }
  }
}

.card-content-price {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: .5rem;
  // font-family: Montserrat;
  font-family: "Montserrat";

  p {
    color: #4d4e4f;
    text-align: right;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem; 
  }

  button{
    background-color: var(--Libertum-color);
    padding: .5rem 1.5rem;
    color: white;
    border-radius: .6rem;
    line-height: 1.5rem;
    box-shadow: 0px 4px 4px 0px rgba(169, 169, 169, 0.25);  
    cursor: pointer;
    font-family: "Montserrat";
  }
  button:hover{
    transform: scale(110%);
  }
}


@media screen and (max-width: 780px) {
  
  .card-container {
    width: 100%;
    max-width: 400px; 
    flex-direction: column;
    border: 1px solid rgb(245, 244, 244);
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem; 
    padding: .5rem;

    &::before {
      display: none
    }
  }
  .card-image-container {
    position: relative;

    .card-image-container-savebutton{
      position: absolute;
      top: 15%; 
      left: 90%; 
      transform: translate(-50%, -50%); 
  
    }
img{
  height: 12rem;
}
    .card-progress {
      position: absolute;
      top: 90%;    
      left: 50%;
      width: 80%; 
      .progress-text {
        color: #fff; 
      }
  
      .slick-slider {
        width: 100%;
      }
      
      .slick-prev,
      .slick-next {
        top: 50%; 
      }
    }
  }
  

  .card-content-header {
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 100%;  

    .card-content-header-flags{
    p{
      max-width: 12rem;
      max-height: 3rem;
      font-size: 11px;
    }
    }

  }
  
  
  .card-content-columns {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

  }
  

}