
.protocol_items {
  // margin-top: 6rem;
  height: fit-content;
  position: relative;
  margin-bottom: 10px;
  .protocol_section {
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center ;    
    max-width: 1100px;
    margin: 0 auto;
    text-align: right;
    animation-name: inOpacity;
    animation-duration: 1s;
    animation-fill-mode: both;
    .procotol_image {
      position: relative;
      // filter: drop-shadow(0px 20px 60px rgba(34, 34, 34, 0.2));
      animation-name: inOpacity;
      animation-duration: 1s;
      animation-fill-mode: both;
      img {
        object-fit: cover;
        height: 28rem;
        overflow: visible;
        
      }

      &:hover {
        div {
          transform: translate(-100px);
          div {
            display: none;
          }
        }
        img {
          transform: scale(1.1);
        }
      }
    }
    .protocol_text {
      color: #3a3a3a;
      animation-name: inOpacity;
      animation-duration: 1s;
      animation-fill-mode: both;
      h2 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        font-size: 34px;
        line-height: 130%;
        text-transform: uppercase;
      }
      .protocol_slide {
        width: 570px;
        transition: all 1s ease-out;

        
        display: flex;
        flex-direction: column;

        p {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          height: 80px;
        }
        img {
          cursor: pointer;
        }
        div {
          gap: 5px;
          display: flex;
          // justify-content: flex-end;
          justify-content: center; /* Alineación vertical */
          margin-top: 50px;
          
          align-items: center;
          font-family: "Raleway";
          font-weight: 300;
          font-size: 14px;
          color: #222222;
          span {
            text-align: center;
            width: 40px;
          }
        }
        div > * {
          flex-shrink: 0;
        }
      }
    }
  }
}


@keyframes inOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1240px) {
  .protocol_items {
    .protocol_section {
      text-align: center;
      .protocol_text {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        .protocol_slide {
          width: 315px;
          margin: 0 auto;
          div {
            margin-top: 80px;
            display: flex;
            justify-content: center;
          }
        }
      }
      .procotol_image {
        margin: 0 auto;
        height: 360px;
        width: 470px;
        div {
          top: 6%;
        }
      }
    }
  }
}

@media screen and (max-width: 880px) {
  .protocol_items {
    // height: 100vh;
    margin: 0 auto;
    display: flex;
    .protocol_section {
      flex-direction: column-reverse;
      justify-content: center
    }
    .protocol_slide{
      p{
        margin-top: 1rem;
      }
      div img{
        margin-top: 1rem;
      }
    }
  }
}
@media screen and (max-width: 520px) {
  .protocol_items {
    margin-top: 6rem;
    .protocol_section {

      .procotol_image {
        width: 315px;
        height: 315px;
        margin: 0 ;
        justify-content: center;
        align-items: center;
        img {         
          height: 280px;
        
      }
    }
  }
}
}