
.container{
padding: 10rem;
font-family: var(--Text);
font-weight: 200;
color: var(--general-dark, #444343);
background-image: url('../../assets/background.jpg');

  .text{    
    
    text-align: center;
    width: 100%;
    
    
    h1{
      font-size: 2rem;
      text-transform: uppercase; 
      // font-family:var(--Titles);     
    }
  
    h3{
      font-size: 1.2rem;
      line-height: 1.5rem;
      margin-top: 1rem;
      max-width: 40rem;
      margin-left: auto;
      margin-right: auto;
      color: #454444cc;
    }
  }

  .allQuestions{
    height: fit-content;
    margin-bottom: 5rem;    
  }

}