$greycolor: #F4F8EE;
$primarycolor: var(--Libertum-color);

.mainContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 2rem;
  width: 100%;

  @media (max-width: 720px) {
    flex-direction: column;
    align-items: stretch;
    // width: 20rem;
  }

  @media (min-width: 721px) and (max-width: 1024px) {    
    flex-direction: column; 
    align-items: center;  
    padding: 0.5rem; 
    // width: 35rem; 
  }

}

.mainContainer section{
    flex: 1;
    // height: 18rem;
    
    
}
.barsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // height: 17rem;
  flex-shrink: 0;  
  background: white;  
  border-radius: 1rem;
  padding: 1.5rem;
  box-sizing: border-box; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  
}

.barsText {
  color: var(--gray-gray-700, #2D3748);
  font-family: Montserrat;    
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 1.575rem */
  // max-width: 23rem;
  width: 100%; 
  text-align: center;
  margin-bottom: 1rem;
}

.barGraph {
  width: 100%;
  border-radius: 0.75rem;
  background: linear-gradient(41deg, #F7931A 0%, #d9955a9d 100%);
}

.transactions {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // height: 17rem;
  flex-shrink: 0;  
  background: white;  
  border-radius: 1rem;
  padding: 1.5rem;
  box-sizing: border-box; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.transactionstext {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    color: var(--gray-gray-700, #2D3748);
    font-family: Montserrat;    
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 1.575rem */
    // max-width: 23rem;
    width: 100%; 
    text-align: center;
    margin-bottom: 1rem;
  }

  button {
    border-radius: 0.625rem;
    background: rgba(12, 5, 7, 0.05);
    color: var(--0-c-0507, #0C0507);
    text-align: center;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.375rem; /* 183.333% */
  }
}

.transactionschart {
  width: 100%;
}
