@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

.home_items {
  background-image: url("./assets/background-home.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  justify-content: center;
  align-content: center;

  
  .home_section {
    text-align: center;
    max-width: 1183px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    height: 100vh;
    // margin-top: 70px;
    animation-name: inOpacity;
    animation-duration: 2s;
    animation-fill-mode: both;
    .home_text {
      width: 570px;
    }
    .home_text h1 {
      width: 100%;
      height: 292px;
      font-size: 60px;
      font-weight: 700;
      line-height: 72px;
      span {
        color: #f88612;
      }
    }
    .home_text p {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 38px;
      width: 570px;
      // height: 114px;
      // margin: top 1px;
    }
    .home_links {
      width: max-content;
      margin-top: 0px;
      
      display: flex;
      gap: 18px;
      align-items: center;
      .launchapp {
        cursor: pointer;
        background-color: #f88612;
        padding: 14px 28px;
        color: #ffffff;
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        box-shadow: 0px 10px 30px rgba(56, 29, 219, 0.2);
        border-radius: 15px;
        display: flex;
        width: max-content;
        align-items: center;
        gap: 14px;
      }
      .token {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 16px;
        border: 1px solid #f88612;
        border-radius: 15px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: #f7931a;
      }
    }
  }
}

@keyframes inOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 2640px) {
  .home_items {
    .home_section {
      display: flex;
      align-items: center;
      .home_text {
        text-align: center;
        p {
          margin: 0 auto;
        }
      }
      .home_links {
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 60px;
        
      }
    }
  }
}

@media screen and (max-width: 570px) {
  .home_items {
    background-image: url("./assets/background-responsive.svg");
    height: 100vh;
    .home_section {
      margin-bottom: 1rem;
      .home_text {
        width: 315px;
        h1 {
          font-weight: 700;
          font-size: 42px;
          line-height: 51px;
          height: auto;
        }
        p {
          margin-top: 0px;
          width: auto;
          font-size: 18px;
        }
      }
      .home_links {
        margin-top: 60px;
        .token {
          display: none;
        }
      }
    }
  }
}
