// .user-modal{
//   background-color: rgba(151, 151, 151, 0.452);
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   z-index: 999; 
//   font-family: montserrat;
//   color: rgb(67, 67, 67);
//   backdrop-filter: blur(2px); 

//   .user-modal-container{
//     background-color: rgb(255, 255, 255);
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     z-index: 9999; 
//     border-radius: 2rem;


//     .header {     
//       background-image: url('../../assets/background.svg');
//       background-size: cover;
//       background-position: center;
//       display: flex;
//       flex-direction: column;      
//       margin-top: 5rem;
//       padding: 20px;
//       // height: 12rem;
//       font-size: 30px;
//       font-weight: bold;
//       margin-top: 2rem;
//       color: whitesmoke;

//       h2{
//         text-align: left;
//       }
//       p {
//         font-size: 16px;
//         text-align: left;
//       }

//   }
//   .table-container{
//     display: flex;
//     width: 100%;
//     // height: 17rem;
//     justify-content: space-between;
//     align-items: center;
//     flex-shrink: 0;
//     // padding: 4rem;
//     // gap: 3rem;
//     padding-left: 3rem;
//     padding-right: 3rem;
//     margin-bottom: 3rem;
//     margin-top: 1rem;
    
//     .table{
//       width: 100%;
//         // height: 22.1875rem;
//         flex-shrink: 0;
//         border-radius: 1rem;
//         border: 1px solid rgba(111, 111, 111, 0.20);
//         background: var(--style, #a92121);
//         padding-left: 3rem;
//         padding-right: 3rem;
//         justify-content: space-around;
//         box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    
    
//         h3{
//         display: flex;
//         width: 100%;
//         height: 3rem;
//         flex-direction: column;
//         justify-content: center;
//         flex-shrink: 0;
//         text-align: left;
//         padding-left: 1rem;
//         padding-top: 1.5rem;
//         color: var(--0-c-0507, #0C0507);
//         font-family: Inter;
//         font-size: 1.125rem;
//         font-style: normal;
//         font-weight: 700;
//         line-height: normal;
//         text-transform: capitalize;
//         }
//     }
//   }
  

// }
// }

.user-modal {
  background-color: rgba(151, 151, 151, 0.452);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
  font-family: montserrat;
  color: rgb(67, 67, 67);
  backdrop-filter: blur(2px); 

  .user-modal-container {
    background-color: rgb(255, 255, 255);
    min-height: 20rem;
    width: 60rem;
    z-index: 9999; 
    border-radius: 2rem;

    .header {
      background-image: url('../../assets/background.svg');
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;      
      margin-top: 5rem;
      padding: 20px;
      height: 10rem;
      font-size: 30px;
      font-weight: bold;
      margin-top: 2rem;
      color: whitesmoke;

      .user-info {
        h3 {
          margin: 0;
        }

        p {
          margin: 5px 0;
          font-size: 16px;
          text-align: left;
        }
      }
    }

    .table-container {
      margin-top: 20px;
      margin: 0;

      .table {
        width: 100%;
        h3 {
          margin-bottom: 10px;
        }
      }
    }


  }
}
