.desktopNavbar {
  display: none;
}

@media (min-width: 1000px) {
  .desktopNavbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1.75rem 1rem;
    border-bottom: 1px solid;
    border-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 51.04%,
      rgba(255, 255, 255, 0) 100%
    );
    border-image-slice: 1;
    box-sizing: border-box;
    margin: 0 auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 89;
  }

  .desktopNavbar a img {
    transform: scale(1.3);
    margin-left: 1.4rem;
  }

  .links {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: relative;
    z-index: 99999;
  }

  .links a {
    color: #fff;
    font-family: Space Grotesk;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: all 0.2s linear;
  }

  .links a:hover {
    color: var(--color-secondary);
  }
}

@media (min-width: 1250px) {
  .desktopNavbar {
    padding-inline: 0;
    max-width: 1202px;
  }

  .desktopNavbar a img {
    transform: scale(1.6);
    margin-left: 2.8rem;
  }
}
