
.aboutus{
  padding: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(55, 54, 54);

  img{
    width: 60rem;
    margin-top: 3rem;
  }

  section{
    margin-left: 2rem;
    margin-right: 2rem;
  }
  h2{
    letter-spacing: 1.5rem;
    margin-bottom: 3rem;
    font-size: 28px;
    text-transform:  uppercase;
    font-weight: 600;
  }

  p{
  
    line-height: 2rem;
    text-align: left;
    margin-bottom: 1rem;
  }
}

.phrase{
display: flex;
justify-content: center;
background-color: var(--Libertum-color);
border-radius: 10rem 1rem;
margin-left: 2rem;
margin-right: 2rem;


  p{
    width: 50%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 20px ;
    line-height: 1.8rem;
    color: whitesmoke;  
  }
}

.team{
  padding: 2rem;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(55, 54, 54);

  h2{
    letter-spacing: 1.5rem;
    // margin-bottom: 3rem;
    font-size: 28px;
    text-transform:  uppercase;
    font-weight: 600;
    padding-top: 3rem;
    line-height: 1.5rem;
  }

  .alanJavvad{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 2rem;
    width: fit-content;

    .card{
      // border: 1px solid blue;
      border-radius: .5rem;
      padding: 2rem;
      background: linear-gradient(to bottom, #ffffff, #ffffff);
      box-shadow: 5px 0 8px rgba(133, 132, 132, 0.5);
      max-width: 20rem;
      line-height: 1.5rem;
      img{
        width: 15rem;
        // height: 15rem;
        overflow: hidden;
        border-radius: .5rem;
      }

      .name{
        margin-top: 1rem;
      }
      .role{
        font-size: 14px;
      }
      // p{
  
      // }
    }

  }
  .teamPictures{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .person{
      // border: 1px solid blue;
      border-radius: .5rem;
      padding: 2rem;
      background: linear-gradient(to bottom, #ffffff, #ffffff);
      box-shadow: 5px 0 8px rgba(133, 132, 132, 0.5);

      line-height: 1.5rem;
      img{
        width: 15rem;
        // height: 15rem;
        overflow: hidden;
        border-radius: .5rem;
      }

      .name{
        margin-top: 1rem;
      }
      .role{
        font-size: 14px;
      }
      // p{
  
      // }
    }
  }
  // .person:hover{
  //   transform: scale(110%);
  //   cursor: pointer;
  // }
  
}

@media screen and (max-width: 780px) {
  .aboutus{
    padding: 2rem 0;
    flex-direction: column-reverse;

    section{
      margin: 0;

      h2{
        letter-spacing: 0;
        text-align: center;
        width: 100%;
      }
    }
  }

  .phrase{
    padding: 2rem 0 ;
  }

  .team{
    flex-direction: column;

    h2{
      letter-spacing: 0;
    }


    .teamPictures{
      margin-top: 1rem;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}