.investingContainer{
  padding: 2rem 4rem;

  h2{
    letter-spacing: 1.5rem;
    margin-bottom: 3rem;
  }
  p{
    line-height: 2rem;
    text-align: left;
    margin-bottom: 1rem;
  }

  .investingProcess{  
    display: flex;
    .circle {
      min-width: 80px;
      min-height: 80px;
      max-width: 80px; 
      max-height: 80px; 
      background-color: orange;
      border-radius: 50%; 
      margin: 0 20px; 
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .circle img {
        max-width: 80px; 
        max-height: 80px;
      }
    }       
  }

  .text{ 
    flex-direction: column;
    text-align: left;

    h3 {
      font-size: 18px;
      color: orange;
      margin-top: 10px;
      text-transform: uppercase;
    }
    
    p {
      font-size: 14px;
      color: black;
      line-height: 1.5rem;
      width: 100%;
    }

    a{
      text-decoration: underline;
      font-weight: 600;
    }
  }

  // .vertical-line {
  //   position: fixed;
  //   width: 2px; /* Ancho de la línea */
  //   height: calc(100% - 200px); /* Altura de la línea */
  //   background-color: orange;
  //   left: 11.5%; /* Alinea la línea al centro de los círculos */
  //   top: 15rem; /* Posiciona la línea para que conecte los círculos */
  //   transform: translateX(-50%); /* Centra horizontalmente la línea */
  // }
}

@media screen and (max-width:780px){
  .investingContainer{
    padding: 2rem .0rem;
    h2{
      letter-spacing: 0;
      width: 100%;
    }
  }
  .investingProcess{
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

  }
  .investingContainer .text{
    h3{
      font-size: 16px;
      line-height: 1.5rem;
    }
  }
}