.container {
  width: 100%;
  padding-bottom: 6rem;
  // justify-content: center;
  // align-items: center;
}

// .container h2 {
//   color: #515562;
//   text-align: left;
//   font-family: var(--EnvwiseFont);

//   padding: 0 1.2rem;
// }

.filtersContainer {
  display: flex;
  flex-direction: column !important;
}


.filters {
  display: flex;
  // padding: 0 1.2rem;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: auto;
  width: 100%;
  padding: 2rem 0;

  @media (max-width: 720px){
    flex-direction: column;
  }
    
  
}


.filtersSelect {
  flex: 1;
  width: 200px;
}

.filters select {
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid #e6e8ec;
  color: #23262f;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 40px;
  line-height: 21px;
  width: 60%;
  padding: 0 1rem;

  @media (max-width: 720px){
    width: 100%;
  }
    
}

.filters select:focus {
  outline: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.filters option {
  outline: none;
  box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.4);
  border-radius: 12px;
  font-family: var(--EnvwiseFont);
}

.sliderContainer{
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: transparent;
  border-radius: 12px;
  border: 1px solid #e6e8ec;
  color: #23262f;
  font-family: var(--EnvwiseFont);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 40px;
  line-height: 21px;
  width: fit-content;
  padding: 0 1rem;
}

// .sliderContainer input[type="range"]::-webkit-slider-thumb {
//   background-color: rgb(88, 93, 88); /* Cambia "blue" al color deseado */
//   border: .2px solid blue;
// }

// @media (min-width: 730px) {

//   .filtersContainer {
//     align-items: center;
//     display: flex;
//     justify-content: space-between;
//     width: 100%;
//   }

//   .filtersSelect {
//     width: 180px;
//   }

//   .filters {
//     gap: 1.5rem;
//   }
// }

@media (min-width: 1250px) {
  .filtersContainer {
    padding-inline: 4rem;
    width: auto;
    padding-inline: clamp(4rem, 12vw, 17.5rem);
  }

  .container section {
    padding-inline: clamp(4rem, 12vw, 17.5rem);
  }
}
