$primary-color: var(--Libertum-color);
$secondary-color:  #5c6068; 
$libertum-lighter: var(--LibertumColorlighter);
$font-size-base: 16px;
$filters: (
  display: flex,
  align-items: center,
  background: transparent,
  // border: 1px solid #f7931a,
  border: 1px solid transparent,
  // padding: 11px 24px,
  border-radius: 9999px,
  gap: 12px,
  cursor: pointer,
  font-family: "Inter",
  font-style: normal,
  font-weight: 500,
  font-size: 14px,
  line-height: 18px,
  color: #5c6068,
  min-height: 45px,
  // min-width: 5px,
  // max-width: 226px,
  // max-height:50px
);


.container {
  width: 100%;
  padding-bottom: 6rem;
  // justify-content: center;
  // align-items: center;
}

// .container h2 {
//   color: #515562;
//   text-align: left;
//   font-family: var(--EnvwiseFont);

//   padding: 0 1.2rem;
// }

.filtersContainer {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  // background-color: var(--LibertumColorlighter);
  // height: fit-content;
  // width: fit-content;
  margin-top:1.5rem;
  margin-bottom:3rem;
  

  @media (max-width: 720px){
    margin-bottom: 10px;
    margin-top: 50px;
  }
  
}

.divider{
  @media (max-width: 720px){
   display: none;
  }
}

.filters {
  display: flex;
  // padding: 0 1.2rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: auto;
  width:100%;
  // padding: 2rem 0;
  height: 45px;
  // background-color: #9193950f;
  // border-radius: 12px;
  // padding: 1.5rem;
  

  @media (max-width: 720px){
    flex-direction: column;
    height: 150px;
    margin: 0;
    gap: 1px;
  }
    
  
}




.filtersSelect {
  flex: 1;
  width: 200px;
}

.filters select {

  @each $property, $value in $filters {
    #{$property}: $value;
    // gap: 1px;
  }


  @media (max-width: 720px){
    width: 100%;
  }
    
}

.filters select:hover{
  font-size: 16px;
  color: #5c6068;
}

.filters select:focus {
  outline: none;
  box-shadow: 0 0 3px rgba(229, 228, 228, 0.2);
  
}

.filters option {
  outline: none;
  box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.4);
  border-radius: 12px;
  font-family: var(--EnvwiseFont);
  color: #9e9e9e;
  font-size: 14px;
}

.filterbuttons{
  // box-shadow: 0px 5px 10px -5px rgba(15, 15, 15, 0.4);

  display: flex;
  align-items: center;
  height: 45px;
  width: 300px;
  gap: 0.3rem;
  //   display: flex;
  align-items: center;
  background: transparent;
  border: solid 1px $secondary-color;
  // padding: 11px 24px;
  border-radius: 12px;
  // gap: 12px;
  cursor: pointer;
  height: 40px;
  width: 350px;
  color: $secondary-color;
  
  // @each $property, $value in $filters {
  //   #{$property}: $value;
  // }

  @media (max-width: 720px){
display: none;
  }
  

  
}
.filterbuttons button{
  text-transform: uppercase;
  background-color: transparent;
  border-color: transparent;
  // border-left: .2px #23262f solid;
  // border-radius: 0%;
  // height: 40px;
}

.filterbuttons button:hover{
  font-size: 16px;
  color: $primary-color;
}

.clean{
  border: 1px solid #f7931a;
  border-radius: 12px;
  width: 100px; /* Ancho determinado del icono */
  height: 100%; /* Alto determinado del icono */
  background-color: #f7931a; /* Color del fondo igual al color del borde */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Color del icono en blanco */

 
    @media (max-width: 720px){
      width: 80px; 
      height: 50%; 
      margin-top: .5rem;
    }
}


.sliderContainer{
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: transparent;
  border-radius: 12px;
  border: 1px solid #e6e8ec;
  color: #23262f;
  font-family: var(--EnvwiseFont);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 60px;
  line-height: 21px;
  width: fit-content;
  padding: 0 1rem;

  @each $property, $value in $filters {
    #{$property}: $value;
  }
}

// .sliderContainer input[type="range"]::-webkit-slider-thumb {
//   background-color: rgb(88, 93, 88); /* Cambia "blue" al color deseado */
//   border: .2px solid blue;
// }

// @media (min-width: 730px) {

//   .filtersContainer {
//     align-items: center;
//     display: flex;
//     justify-content: space-between;
//     width: 100%;
//   }

//   .filtersSelect {
//     width: 180px;
//   }

//   .filters {
//     gap: 1.5rem;
//   }
// }

@media (min-width: 1250px) {
  .filtersContainer {
    padding-inline: 4rem;
    width: auto;
    padding-inline: clamp(4rem, 12vw, 17.5rem);
  }

  .container section {
    padding-inline: clamp(4rem, 12vw, 17.5rem);
    // padding-inline: 4rem;
    width: auto;
  }
}

.error{
  justify-content: center;
  
  p{
    color: $secondary-color
  }

  button{
    border: 1px solid $primary-color;
    border-radius: 12px;
    margin-top: 1rem;
    color: $secondary-color;

    &:hover{
      border: 1px solid $primary-color;
      background-color: $primary-color;
    }
    
  }

  @media (max-width: 720px){

    margin-top: 4rem;
  }
}