$primary-color: var(--Libertum-color);
$secondary-color:  #5c6068; 
$libertum-lighter: var(--LibertumColorlighter);
$font-size-base: 16px;
$filters: (
  display: flex,
  align-items: center,
  background: #f7931a,
  padding: 11px 24px,
  border-radius: 9999px,
  gap: 12px,
  cursor: pointer,
  font-family: "Inter",
  font-style: normal,
  font-weight: 500,
  font-size: 14px,
  line-height: 18px,
  color: #fcfcfd,
  min-height: 45px
  // max-width: 226px,
  // max-height:50px
);


.container {
  width: 100%;
  padding-bottom: 6rem;
  // justify-content: center;
  // align-items: center;
}

// .container h2 {
//   color: #515562;
//   text-align: left;
//   font-family: var(--EnvwiseFont);

//   padding: 0 1.2rem;
// }

.filtersContainer {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  // background-color: var(--LibertumColorlighter);
  // height: fit-content;
  // width: fit-content;
  margin-bottom:3rem;
  margin-bottom:3rem;
}


.filters {
  display: flex;
  // padding: 0 1.2rem;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: auto;
  width:80%;
  padding: 2rem 0;
  height: 45px;

  @media (max-width: 720px){
    flex-direction: column;
  }
    
  
}




.filtersSelect {
  flex: 1;
  width: 200px;
}

.filters select {
  @each $property, $value in $filters {
    #{$property}: $value;
  }

  @media (max-width: 720px){
    width: 100%;
  }
    
}

.filters select:hover{
  font-size: 16px;
  color: #5c6068;
}

.filters select:focus {
  outline: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  
}

.filters option {
  outline: none;
  box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.4);
  border-radius: 12px;
  font-family: var(--EnvwiseFont);
}

.filterbuttons{
  // box-shadow: 0px 5px 10px -5px rgba(15, 15, 15, 0.4);

  display: flex;
  align-items: center;
  height: 45px;
  width: 300px;
  gap: 0.3rem;

  border-radius: 12px;
  display: flex;
  align-items: center;
  background: #f7931a;
  // padding: 11px 24px;
  border-radius: 9999px;
  // gap: 12px;
  cursor: pointer;
  height: 40px;
  width: 350px;
  
  @each $property, $value in $filters {
    #{$property}: $value;
  }
  

  
}
.filterbuttons button{
  text-transform: uppercase;
  // border-left: .2px #23262f solid;
  // border-radius: 0%;
  // height: 40px;
}

.filterbuttons button:hover{
  font-size: 16px;
  color: #5c6068;
}

.sliderContainer{
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: transparent;
  border-radius: 12px;
  border: 1px solid #e6e8ec;
  color: #23262f;
  font-family: var(--EnvwiseFont);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 60px;
  line-height: 21px;
  width: fit-content;
  padding: 0 1rem;

  @each $property, $value in $filters {
    #{$property}: $value;
  }
}

// .sliderContainer input[type="range"]::-webkit-slider-thumb {
//   background-color: rgb(88, 93, 88); /* Cambia "blue" al color deseado */
//   border: .2px solid blue;
// }

// @media (min-width: 730px) {

//   .filtersContainer {
//     align-items: center;
//     display: flex;
//     justify-content: space-between;
//     width: 100%;
//   }

//   .filtersSelect {
//     width: 180px;
//   }

//   .filters {
//     gap: 1.5rem;
//   }
// }

@media (min-width: 1250px) {
  .filtersContainer {
    padding-inline: 4rem;
    width: auto;
    padding-inline: clamp(4rem, 12vw, 17.5rem);
  }

  .container section {
    padding-inline: clamp(4rem, 12vw, 17.5rem);
    // padding-inline: 4rem;
    width: auto;
  }
}