.iconosamenities {
  display: inline-flex; 
  margin-top: 1rem;
   gap: 5px;  
   
  /* Resto del CSS sin cambios */
  .div {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  img {
    width: 4rem;
  }
  p {
    font-size: 11px;
    max-width: 70px;
    line-height: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
