.marketplaceLayout{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  max-width: 75.125rem;
  margin: auto;
}

.marketplaceFrame{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  gap: auto;
  width: 100%;
}

.marketplaceFrame__sort{
  display: flex;
  width: 363px;
  height: 42px;
  padding: 8px 12px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background: rgba(0, 6, 47, 0.05);
  color: #000;
  font-family: var(--font-secondary);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.marketplaceFrame__sort_span {
  font-weight: 700;
}

.marketplaceFrame__show{
  display: flex;
  padding: 5px 8px;
  align-items: flex-start;
  gap: 8px;
}

