.container {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
}

.card {
  display: flex;
  width: 700px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #00b3b5;
  background: rgba(0, 179, 181, 0.3);
  backdrop-filter: blur(5px);
  color: #00b3b5;
  text-align: center;
  font-family: Space Grotesk;
  font-size: 21px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  cursor: pointer;
  margin: 0;
}

.card:hover {
  transition: all ease-in 0.2s;
  background: rgba(0, 179, 181, 0.45);
}
