.first-container{
  display: grid;
  grid-template-columns: 1.2fr 1fr; 
  gap: 5rem; 
  padding-top: 9rem;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-bottom: 3rem;
  position: relative; 

  &::before {
    content: "";
    position: absolute;
    top: 52%;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./assets/rectangule.svg');
    background-size:100%;
    border-radius: 2rem;
    background-repeat: no-repeat;
    margin: 0 2rem;
    z-index: -1; 
  }

  .title{
    font-family: montserrat;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 3rem;

    h2{
      font-size: 1.9rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.11875rem;
      width: 100%;
    }
    h3{
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.28125rem;
      text-transform: uppercase;
      width: 100%;
    }

    .text{
      p{
        margin-top: 2rem;
        color: #b8b5b5;
        font-family: Montserrat;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
      }      
    }
  }

  .box{
  border-radius: 2.5rem;
  background: linear-gradient(180deg, #009ED4 0%, #002D3D 100%);
  box-shadow: 0px 4px 4px 0px #002836, 6px 4px 4px 0px #32535F;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;  
  gap: 1.2rem;
  width: 28.125rem; 
  height: 32rem;
  
  h4{
    color: #FFF;
    font-family: Montserrat;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .first {
      color: #FFF;
      font-family: Montserrat;
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding: 1.2rem 3.25rem ;
      width: 100%;

      border-radius: 1.25rem;
      background: #009ED4;
    }

    .second{
      color: #FFF;
      font-family: Montserrat;
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding: 1.2rem 1rem;
      width: 100%;

      border-radius: 1.25rem;
      background: #F7931A;
    }

    .exchange-box{
      border-radius: 1.25rem;
      background: #009ED4;
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;
      flex-shrink: 0;
      padding: 1rem 0;
      box-shadow: 2px 0 4px 0px #acadae;

      h3{
        color: #FFF;
        font-family: Montserrat;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      p{
        color: #FFF;
        font-family: Montserrat;
        font-size: 1rem;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
      }

      .exchange-box-coins{
        display: flex;
        gap: 2rem;

        .exchange-buttons{
          display: flex;
          width: 8rem;
          padding: 0.25rem 0.5625rem 0.33144rem 7rem;
          justify-content: flex-end;
          align-items: center;
          gap: .3rem;
          border-radius: 0.625rem;
          background: #ffffff;
          
          input{
            // border-radius: 0.625rem;
            width: 4rem;
            border-right: 1px solid rgb(90, 89, 89);
          }
          p{
            color: #2e2e2e;
            font-family: Montserrat;
            font-size: 1rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }
      }
      .connect-wallet{
        background-color: #00739a;
        color: whitesmoke;
        padding: .5rem 1rem;
        text-transform: uppercase;
        border-radius: 1.2rem;
        margin-top: .5rem;
        width: 90%;
      }
    }
   
  }

  
}


@media screen and (max-width: 780px) {
  .first-container{
    grid-template-columns: repeat(1,0);
    gap: 35px;
    padding-top: 9rem;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 3rem;
  }

}