.filterContainer {
  margin-top: -3rem;
  margin-inline: 2rem;
  border-radius: 20px;
  background: #fffefe;
  padding: 1rem;
}

.searchByName {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: #f8f8f8;
  border-radius: 12px;
}

.searchByName input {
  border: 0;
  flex-shrink: 1;
  width: 100%;
  background: #f8f8f8;
  height: 3rem;
  background-image: url("./search.svg");
  background-position: 0.5rem;
  background-repeat: no-repeat;
  border-radius: 12px;
  padding-left: 3rem;
}

.moreOptionsBtn {
  background-color: #26437f;
  border: 0;
  border-radius: 12px;
  width: 57px;
  height: 56px;
  flex-shrink: 0;
}

.filterList {
  display: none;
}

@media (min-width: 900px) {
  .moreOptionsBtn {
    display: none;
  }

  .filterContainer {
    margin-inline: 4rem;
    margin-top: -5.5rem;
  }

  .filterList {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .filterList div {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
  }

  .filterList label {
    color: #000;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.48px;
  }

  .filterList select {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: white;
    border-color: #7c7c7c;
    appearance: none;
    background-image: url("./downsArrow.svg");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
  }

  .filterList select:active {
    background-image: url("./upArrow.svg");
  }

  .searchBtn {
    border-radius: 14px;
    background: #26437f;
    border: none;
    flex-shrink: 0;
    width: 91px;
    height: 86px; 
  }

  .searchBtn img {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .filterContainer {
    margin-inline: 6rem;
    padding: 2rem ;
  }
}
