// Variables
$primary-color: var(--Libertum-color);
$secondary-color:  #5c6068; 
$font-size-base: 16px;

.container{
  width: 18rem;
  // min-height: 30rem;
  flex-shrink: 0;
}

.imageContainer{
  width: 100%;
  height: 18rem;
  flex-shrink: 0;
  border-radius: 0.75rem;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;

  img{
    width: 100%;
    height: 17.9375rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
  }
}

.content{
  width: 100%;
  margin-top: .5rem;
  margin-bottom: .2rem;
  gap: 1rem;
  align-items: stretch;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.titleSubtitle{
  color: var(--shade-02, #222);
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 100%;
  text-align: left;
  margin-bottom: .5rem;
}

.description{
  color: var(--neutral-08, #5E5E5E);
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  margin-bottom:.5rem;

}

.price{
  color: var(--shade-02, #222);
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align:left;
}