.background{
  // background-image: url(./background.svg);
  background-repeat: no-repeat;
}
.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  max-width: 1050px;
  margin: 0 auto;
  height: 100vh;
  align-items: center;
  font-family: montserrat;
  color: rgb(45, 45, 45);
  padding-top: 2rem;


  h2 {
    font-size: 25px;
    letter-spacing: 1.5rem;
    margin-bottom: 2rem;

  }
  p{
    text-align: left;
    line-height: 1.5rem;
  }
  .contact-form-image {

    img {
      max-width: 100%;
      height: auto;
    }

  }

  .contact-form-content {
    border-radius: 10px;
    padding: 3rem;


     .buttonSubmitForm{
      background-color: var(--Libertum-color);
      width: 20rem;
      border-radius: 10px;
      color: white;
      text-transform: uppercase;
      margin-top: 2rem;

    }

    .form-group{
      border: 1px solid var(--LibertumBlue);
      border-radius: 10px;
      margin-top: .5rem;
      text-align: left;
      padding-left: .5rem;
      padding-right: .5rem;
      line-height:  2.5rem;
      width: 100%;
    }
       input, textarea {
      width: 100%;
      background-color: transparent;
    }
      input:focus, textarea:focus {
        outline: none;
        border: var(--Libertum-color);
        width: 100%;
        background-color: transparent;
      }

      input:not(:focus):not(:placeholder-shown), textarea:not(:focus):not(:placeholder-shown) {
        background-color: transparent; /* Elimina el fondo blanco cuando se completa el campo */
      }


      input:-webkit-autofill::placeholder, textarea:-webkit-autofill::placeholder {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }


      input:-webkit-autofill, textarea:-webkit-autofill {
        background-color: transparent !important; /* Elimina el fondo blanco */

      }
}
}

    @media screen and (max-width: 780px){
      .contact-form{
        display: flex;
        flex-direction: column;
        padding-top: 8rem;

        h2{
          letter-spacing: 0rem;
          text-align: center;
          width: 100%;
        }
        p{
          text-align: center;
        }


      }
    }