.container {
    display: flex;
    flex-direction: column;
    width: 110%;
    // min-width: 70rem;
    // height: 17rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 1rem;
    gap: 1rem;

    @media (max-width: 720px){
    
        width: 20rem;
       }
}