.mobileNavBarContainer {
  padding: 1.75rem 1rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99999;
  border-bottom: 1px solid;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 51.04%,
    rgba(255, 255, 255, 0) 100%
  );
  border-image-slice: 1;
}

.mobileNavBar {
  align-items: center;
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  max-width: 710px;

  margin: 0 auto;
}

.menuBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (min-width: 1000px) {
  .mobileNavBarContainer {
    display: none;
  }
}
