.divider-container {
  display: flex;
  justify-content: center;
}

.divider {
 @media screen and (max-width: 1240px) {
  .divider {
    max-width: 800px;
    justify-self: center;
  }
}
@media screen and (max-width: 800px) {
  .divider {
    max-width: 370px;
    filter: saturate(1);
  }
}

@media  (min-width: 1800px) {
  .divider {
  display: none;
  }
}
}


