$primarycolor: var(--Libertum-color);
$secondarycolor: var(--LibertumBlue);

.divider-container {
  display: flex;
  justify-content: center;
}

.timer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 100vh;
  padding: 1rem;


  .timer-content{
  padding: 1rem;
  // border: 1px solid black;
  justify-self: center;
  width: fit-content;
  font-family: montserrat;
  animation-name: inOpacity;
  animation-duration: 1s;
  animation-fill-mode: both;
  
  p{
    font-family: montserrat;
    font-weight: 200;
    font-size: 25px;
    margin-bottom: 1rem;
    
    
    text-align: center;

    span{
      color: var(--Libertum-color);
    }
    .span2{
      color: var(--LibertumBlue)
    }

    @media (max-width: 768px){
      font-size: 1rem;
    }
  }
  

    .timer{ 
      display: flex;
      justify-content: center;
      align-content: center;
    }

    .timer-text{
      font-size: 30px;
      margin-top: 3rem;
      


      h2{
        font-family: montserrat;
        font-weight: 600;
        font-size: 35px;
        margin-bottom: 1rem;
        text-transform: uppercase;
    
        .span1{
          color: $primarycolor;
          margin-left: .8rem;
          margin-right: .8rem;
        }
    
        .span2{
          color: $secondarycolor; 
        }
      }
    }
  }
}

.cs_form {
  display: flex;
  margin-top: 3rem;
  // flex-direction: column;
  justify-content: center;
  // margin: 50px 60px 60px 60px;
  form {
    display: flex;
    gap: 10px;
    input {
      background: rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      border: 1px solid #ffffff;
      border-radius: 15px;
      width: 260px;
      height: 48px;
      font-size: 16px;
      font-family: "Inter";
      font-style: normal;
      padding-left: 20px;
      &:focus {
        border: none;
        outline: none;
      }
    }
    button {
      width: 146px;
      height: 48px;
      background: #f88612;
      box-shadow: 0px 10px 30px rgba(56, 29, 219, 0.2);
      border-radius: 15px;
      padding: 0px 28px;
      border: none;
      color: #ffffff;
      justify-content: center;
      align-content: center;
    }
    span {
      position: absolute;
      top: 100%;
      margin-left: 20px;
      font-size: 10px;
      color: red;
    }
    @media (max-width: 800px){
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      }
  }
  
}

.modal-container {
  position: fixed;
  position: fixed;
  animation-name: inOpacity;
  animation-duration: 2s;
  animation-fill-mode: both;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.418); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  


  .modal-content {
    background-color: rgb(222, 234, 239);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    align-items: center;
    justify-items: center;  
    // background-image: url(./assets/coin.svg);
    // background-repeat: no-repeat;
    // background-size: cover;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
    .button1 {
      background-color: var(--Libertum-color);
      color: #fff;
      padding: 0px;
      height: 3rem;
      width: 3rem;
      border: none;
      border-radius: 9999px;    
      cursor: pointer;      
      margin-left: 70%;  
      margin-top: 1rem;
      text-align: center;
      justify-content: center;
      align-content: center;   
    }

    @media (max-width: 768px){
      min-height: 100%;
    }
  }
  .modal-section {
    max-width: 42rem;
  }
  
}

.coin{
  
}

.second-section{
  animation-name: inOpacity;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.containercenter{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-items: center;
  align-items: center;
  
}

.divider {
 @media screen and (max-width: 1240px) {
  .divider {
    max-width: 800px;
    justify-self: center;
  }
}
@media screen and (max-width: 800px) {
  .divider {
    max-width: 370px;
    filter: saturate(1);
  }
}

@media  (min-width: 1800px) {
  .divider {
  display: none;
  }
}
}



