// Variables
$primary-color: var(--Libertum-color);
$secondary-color:  #5c6068; 
$font-size-base: 16px;
$--bc: var(--Libertum-color);


.container {
  position: relative;  
  justify-content: space-between;
  width: 100%;
  gap: 2rem;  
  font-family: montserrat;
}

.column1{
  flex-basis: 60%;
  padding-right: 1rem;

  @media screen and (max-width: 1200px) {
    flex-basis: 100%;
    padding: .2rem;
  }
}

.column2 {
  flex-basis: 40%; 

  @media screen and (max-width: 1200px) {
    z-index: 9999;
    max-width: 100%;
  }
// ----------------------------- BUY MODULE ------------------------------
.buycontainer{
  border-radius: 1rem;
  background-color: rgb(255, 255, 255); 
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.302);
  padding: 2rem 2rem;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
  justify-content: center;
  font-family: montserrat;
  
  @media screen and (max-width: 780px) {
    div{
      display: none;
    }
    .cardbody{
      height: fit-content;
    }
    position: fixed;
    bottom: 0;
    z-index: 9999;
    max-width: 100%;
    padding-top: .5rem;
    padding-bottom: 2.2rem;
    margin-bottom: .5rem;
  }

  h1{
    margin-bottom: 20px;
    color: #000;
    text-align: center;
    font-size: 1.375rem;  
    font-weight: 600; 
  
    @media screen and (min-width: 768px) and (max-width: 1023px) {
    display: none;
    }
  
    @media screen and (max-width: 767px) {
    display:none;      
    }
  }
  
 span {
    margin-bottom: 20px;
    color: #000;
    text-align: center;
    font-size: 1.375rem;
    font-weight: 600;
    
  
  }
  
  .cardbody{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 2rem;
    gap: 0.5rem/* 8px */;
  
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      /* Estilos para tablets */
      flex-direction: row;
      justify-content: center;
      gap: 2.5rem;
    }
  
    @media screen and (max-width: 767px) {
      /* Estilos para dispositivos móviles */
     padding: 0;
     gap: 0;
    }
    
    p{
      text-align: left;
      color: #000;
      font-size: 0.9375rem;
      font-family: Inter;
      font-weight: 500;
      }
      
      .cardtext{
        display: flex;
        flex-direction: column;
      
        @media screen and (max-width: 767px) {
          /* Estilos para dispositivos móviles */
          display: none;
          
        }
      }
  } 
  
  .cardbutton{
  display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.5rem/* 8px */;
    justify-content: center;
    margin-top: 2rem;
}
}
}

// --------------------------- ABOUT PROPERTY ------------------------------
.about{
color: var(--black, #000);
font-size: 1.5rem;
font-family: Inter;
font-weight: 500;
line-height: 2rem;
text-align: left;
justify-content: left;
width: fit-content;

@media screen and (max-width: 767px) {
text-align: left;
padding: auto;
// max-width: 250px;
}
}
.description {
  color: var(--black, #000);
  /* text-base/Regular */
  font-size: 1rem;
  font-family: Inter;
  line-height: 1.5rem;  
  display: flex;
  // width: 37.6875rem;
  height: 9.875rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  text-align: left;

  
  @media screen and (max-width: 767px) {
    /* Estilos para dispositivos móviles */
  max-width: 350px;
  height: fit-content;
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-align: center;

  }

}

// ----------------------------- ACCORDION ------------------------------

.accordionItem{

    width: 100%;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: #ffffff82;
    padding: 10px;
    transition: border-color 0.3s, background-color 0.3s;
    
    &.active {
      // border: 1px solid var(--LibertumBlue);      
      background-color: #f5f5f514;    
    }
  .accordionTitle{
    display: flex;
    text-align: left;
    align-items: center;      
    justify-content: space-between;      
    cursor: pointer;    
    font-size: 1.1rem;  
    font-weight: 600;
    .accordionIcon {
      margin-right: 10px;
      
    }
  }

  // .accordionContent{
  //   padding: 10px;
  // }
}

// ---------------------- ACCORDION CONTENT ------------------------------------

.table {  
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1.5rem;
  margin-left: 1rem;
  // margin-bottom: 3rem;

  @media screen and (max-width: 780px) {
    margin: 0rem;
  }
}

.barra{  
  border-radius: 3%;
  width:max-content;
  justify-content: center;
}
.row {
  display: table-row;
  height: fit-content;
  margin-bottom: 1rem; 

  @media screen and (max-width: 767px) {
    display: block;
    // text-align: center;
     
  }


  // ------------------------------ PROGRESS FUNDED BAR ----------------------------------------
  progress[type="progress"] {
    appearance: none;
    width: 15rem;
    height: 10px;
    border-radius: 5px;
    background-color: #c9ccd1;
    outline: none;
  
    &::-webkit-progress-bar {
      background-color: #c9ccd1;
      border-radius: 5px;
    }
  
    &::-webkit-progress-value {
      background-color: $primary-color;
      border-radius: 5px;
    }
  
    &::-moz-progress-bar {
      background-color: $primary-color;
      border-radius: 5px;
    }
  
    &::-ms-fill {
      background-color: $primary-color;
      border-radius: 5px;
    }
  }

// ------------------------------ NUMBER OF TOKENS TO BE PURCHASED ----------------------------------------
  input, output
 {
  display: inline-block;
  vertical-align: middle; 
  font-size: .8em;
  font-family: Arial, sans-serif;
  margin-left: 1rem;
    // padding: 1rem;
  
}

output {
  // background: #c8c7c7;
  padding: 5px 16px;
  border-radius: 3px;
  color: #7a7979;
}


input[type="range"] {
  width: 200px;
  height: 1px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  // background-image: linear-gradient($primary-color, $primary-color);
  background-color: #5c6068;
  background-size:  100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: $primary-color;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: $primary-color;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-ms-thumb {
 
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: $primary-color;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: $primary-color;
  transform: scale(120%);
}

input[type="range"]::-moz-range-thumb:hover {
  background: #c3c0c0;
}

input[type="range"]::-ms-thumb:hover {
  background: #b7b2b2;
}

/* Input Track */
input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type=range]::-moz-range-track {
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  box-shadow: none;
  border: none;
  background: transparent;
}
}

.cell {
  display: table-cell;
  height: fit-content;
  // margin-right: 2rem;

  @media screen and (max-width: 767px) {
    display: block;
     
  }
  
}

.label { 
  font-size: .8rem;  
  font-weight: 600;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  text-align: left;
}

.tableRectangule{
  padding: 20px;
  // background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 1rem; 
}

.descriptiontable {
  color: var(--black, #000);
  font-size: .9rem;
  font-family: Inter;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  text-align: left;
  // margin-left: 1rem;
  width: 30rem;
}

.descriptiontabledif {
  color: var(--black, #6d6c6c);
  font-size: 1rem;
  font-family: Inter;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  text-align: left;
  // margin-left: 1rem;
}

.descriptiontabledif:hover{
  font-size: 1.2rem;
}
.descriptiontablemonth{
  color: #a1a1a1;
  font-size: 13px;
}

.map {
  width: 90%;
  height: 300px;
  margin-top: 1rem;
 

  @media screen and (max-width: 767px) {
    height: 180px !important;
    width: 280px !important;     
    margin-top: .5rem;
    margin-left:0rem;
  }
}

.download {
  align-items: left;
  text-align: left;
  line-height: 1.5rem;
  margin-top: 1rem;
}

// ----------------------------- TABLA CUMULATIVE GAIN  ------------------------------

.tableincome{
  width: 100%;
  border: 1px solid #ccc;
}


// -----------------------------GRAPHICS ------------------------------------------------

.graphics{
  width: 100%;
  padding: 20px;

  // border: 1px solid #ccc;
  // border-radius: 8px;
  // margin-left: 1rem;
  
  @media screen and (max-width: 767px) {
    width: 70%;
  }
}

.graphic1{
  margin-bottom: 1rem;
}

.button{
  display: inline-flex;
  background-color:  var(--Libertum-color) ; 
  // background-color: var(--LibertumBlue);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  text-align: center;   
  height: 3rem/* 48px */;
  padding-left: 1rem/* 16px */;
  padding-right: 1rem/* 16px */;  
  min-height: 3rem/* 48px */;  
  font-weight: 400;
  text-transform: uppercase;
  color: #FFF;
  text-align: center;
  font-size: 1.125rem;
  width: 21rem ;
  border-radius: .6rem;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para tablets */
    width: 20rem;
  }
  
  @media screen and (max-width: 767px) {
    /* Estilos para dispositivos móviles */
    

  }
  
}
