.userModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.userModal-content {
  box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.28);
  border-radius: 12px;
  background-color: white;
  width: 303px;
}

.userModal-header {
  position: relative;
  border-bottom: 1px solid #ebebeb;
}

.userModal-header h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #222222;
  margin: 1rem 0;
}

.userModal-close {
  position: absolute;
  top: 2px;
  left: 1rem;
  cursor: pointer;
}

.userModal-close:hover {
  transform: scale(1.2);
  transition: all ease-in 150ms;
}

.userModal-body {
  padding: 1rem;
}

.userModal-body img {
  margin: 1rem 0;
  width: 118px;
  height: 118px;
  border-radius: 100%;
  display: inline;
}

.userModal-body h4,
.userModal-body p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  margin: 0;
}

.userModal-body h4 {
  font-size: 14px;
  line-height: 26px;
  color: #222222;
}

.userModal-body p {
  font-size: 12px;
  line-height: 20px;
  color: #717171;
}

.userModal-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding-top: 1rem;
}

.formBtn {
  background-color: var(--Libertum-color);
  border-radius: 5px;
  color: white;
  width: 100%;
  padding: 0.5rem;
}

.userModal-btn button {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  gap: 10px;
  border: 1px solid #222222;
  border-radius: 8px;
}

.userModal-btn button:hover {
  border-color: #f7931a;
  transition: all ease-in 150ms;
}

.userModal-btn img {
  margin: 0;
}

.userModal-btn p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #222222;
}

.userModal-btn img {
  width: 15.2px;
  height: 16px;
}

.userImage {
  border-radius: 100%;
  width: 65px;

  position: relative;
}

.notification-badge {
  position: relative;
  display: inline-block;
  box-sizing: content-box !important;
}

.notification-badge::after {
  content: "";
  position: absolute;
  left: 23px;
  top: -1px;
  width: 10px;
  height: 10px;
  background: #ff385c;
  border-radius: 50%;
}

.container {
  width: 100%;
  height: 5em;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 10;
  position: fixed;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}

.flexContainer {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.buttons {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 3em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.button,
.button2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.button svg {
  width: 20px;
  height: 20px;
  -webkit-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  transition-duration: 100ms;
  pointer-events: none;
}

.button p,
.button2 p {
  pointer-events: none;
}

.button2 svg {
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  transition-duration: 100ms;
  pointer-events: none;
}

.buttons p:hover,
.button:hover,
.button2:hover,
.user svg:hover {
  color: #f7931a;
}

.buttons2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 2em;
}

.language,
.languageButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1em;
  color: #5b5b5b;
  margin-right: 2rem;
}

.languageButton:hover {
  svg,
  p {
    color: #f7931a;
  }
}

.languageButton svg,
.languageButton p {
  pointer-events: none;
}

.language svg {
  width: 20px;
  height: 20px;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  height: 38px;
  width: 81px;
  border: 1px solid #5b5b5bd1;
  border-radius: 5em;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
  position: relative;
}
.user1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  height: 38px;
  width: 40px;
  border: 1px solid #5b5b5bd1;
  border-radius: 1em;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

.hamburgerContainer {
  align-items: center;
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 29px;
  display: flex;
  justify-content: center;
  min-width: 6rem;
}

.hamburger {
  padding: 0 !important;
}

.hamburger:hover {
  color: #f7931a;
}

.userImage {
  border-radius: 100%;
  width: 30px;
  cursor: pointer;
}

.account {
  position: relative;
  right: 0.6em;
}

.user svg,
.user1 svg {
  height: 22px;
  width: 22px;
  color: #5b5b5bd1;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .container {
    width: 100%;
  }
  .flexContainer {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
  }

  .flexContainer2 {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .flexContainer svg {
    width: 20px;
    height: 20px;
  }

  .MobileMenuIcon {
    width: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .MobileMenuIcon2 {
    width: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    left: 2em;
  }

  .accountIcon {
    width: 48px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .accountIcon svg {
    width: 20px;
    height: 20px;
  }

  .icon2 {
    display: flex;
    position: absolute;
    align-self: center;
  }
}

@media (max-width: 740px) {
  .userImage {
    height: 30px;
  }

  .container {
    display: flex;
    align-items: center;
  }
}
