$greycolor: #F4F8EE;
$primarycolor: var(--Libertum-color);

$bigbutton: (
    width: 11.49588rem,
    height: 12.5rem,
    flex-shrink: 0,
    border-radius: 1rem,    
    display: flex,
    flex-direction: column,
    justify-content: space-between,
);
$texto-button: (
  color: var(--0-c-0507, #0C0507),
  font-family: Inter,
  font-size: 0.875rem,
  font-style: normal,
  font-weight: 400,
  line-height: 1.5rem,
  text-transform: capitalize,
  text-align: left,
  margin-top: 1rem,
  margin-left: 0.9rem
);

$buttonh2: (
    color: var(--0-c-0507, #0C0507),
    font-family: Inter,
    font-size: 1.5rem,
    font-style: normal,
    font-weight: 500,
    line-height: 2.125rem,
    text-align: left,
    margin-bottom: 2rem,
    margin-left: 0.9rem,
    margin-top: auto, /* Añade esta línea */
);


.mainContainer{
    display: flex;
    width: 100%;
    height: 17rem;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding: 4rem;
    gap: 3rem;
}

.mainContainer section{
    flex: 1;
}
// --------------------------- SECTION 1 -------------------------------------

.section1{
    flex: 1;
    display: flex;
    // width: 45.25rem;
    padding: 2rem;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 1rem;
    border: 1px solid rgba(111, 111, 111, 0.20);
    background: var(--style, #FFF);
    height: 17rem;
}

.analizefinances{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;


    h3{
        display: flex;
        // width: 15.753rem;
        height: 1.21669rem;
        flex-direction: column;
        justify-content: left;
        color: var(--0-c-0507, #0C0507);
        font-family: Inter;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
        margin-right: 2rem;
    
    }

    h4{
        display: flex;
        padding: 0.5rem 1rem;
        justify-content: flex-end;
        align-items: center;
        gap: 0.625rem;
        border-radius: 0.625rem;
        background: rgba(12, 5, 7, 0.05);
    }

    button {
        display: flex;
        padding: 0.5rem 1rem;
        justify-content: right;
        align-items: center;
        gap: 0.625rem;
        border-radius: 0.625rem;
        background: $primarycolor;
        color: #E1F8FF;

}

}

.chartsection{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2.875rem;

    object {
        display: flex;
        width: 9.75rem;
        height: 10.25rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        flex-shrink: 0;
    }

    section{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;


        section{
        width: 100%;
        flex-direction: row;
        height: 6.5rem;
        justify-content: space-around;
        align-items: center;
        gap: 0.625rem;
        flex-shrink: 0;
        border-radius: 0.75rem;
        background: rgba(34, 34, 34, 0.03);
        text-align: left;
        }

        p{
            color: #000;
            font-family: Inter;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 400;
            line-height: 2rem; /* 155.556% */
            width: fit-content;

        }

        h5{
            color: #000;
            font-family: Inter;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5rem; /* 200% */
            text-align: left;
        }
    }
}



// --------------------------- SECTION 2 -------------------------------------



.section2{
    display: flex;
    // width: 45.25rem;
    height: 17rem;
    padding: 2rem;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 1rem;
    border: 1px solid rgba(111, 111, 111, 0.20);
    background: var(--style, #FFF);


}


.seefraction{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;


    h3{
        display: flex;
        // width: 15.753rem;
        height: 1.21669rem;
        flex-direction: column;
        justify-content: left;
        color: var(--0-c-0507, #0C0507);
        font-family: Inter;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
        margin-right: 5rem;
    
    }
button{
    color: var(--0-c-0507, #0C0507);
    text-align: center;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: .2rem; /* 183.333% */
    text-transform: capitalize;
    border-radius: 0.625rem;
    background: rgba(12, 5, 7, 0.05);
    max-height: .2rem;
 
}
}

.mapframe{
    width: 100%;
    height:10rem;
    flex-shrink: 0;
    margin-top: 1rem;

    iframe {
        width: 100%;
        height: auto;
        border-radius: 2%;
    }
}
