.formBtn:hover {
  transition: all ease-in 0.2s;
  color: var(--Libertum-color);
}
.formBtn{
 color: #f7931a;
margin-top: 1rem;
}

.connect{
    display: flex;
    align-items: center;
    justify-content: start;
    justify-content: center;
    border-radius: 6px;
    visibility: visible;
    width: 184.8px;
    cursor: pointer;
    color: white;
    background-color: #F4911A !important;
    line-height: 0;
    transition: color 4s, width 1s;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 231px;
  position: fixed;
  height: fit-content;
  background: #ffffff;
  box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.4);
  border-radius: 12px;
  // top: 5em;
  // gap: 1rem;
}

.flexContainer {
  width: 80%;
  height: 100%;
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  align-items: flex-start;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  // line-height: 0;
  color: #777e90;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin-top: .5rem;
  gap: 1rem;
  left: 0;
  cursor: pointer;
}

.login{
  width: 100%;
// color: ;
  
}

.flexContainer p:hover {
  color: #f7931a;
}

// .mydashboard{
//   color: var(--Libertum-color)
  
// }
// .mydashboard :hover{
//   color:#ffffff
// }

// @media screen and (min-width: 800px) {
//   .flexContainer {
//     justify-content: space-evenly;
//     height: 0rem;
//   }
//   .buttons {
//     justify-content: space-around;
//     height: 10rem;   
//     z-index: 999999999;
//   }
// }

@media screen and (max-width: 800px) {
  .container {
    top: auto;
    position: relative;
    box-shadow: none;
    // overflow: scroll;
    width: 100%;
  }
  .connect {
    display: none;
    pointer-events: none;
  }
  .buttons {
    position: absolute;
    // top: 3em;
    margin-top: 2rem;
    min-height: 45rem;
    gap: 3em;
    font-family: "Montserrat";
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 0;
    color: #777e90;
    text-decoration: none;
    // margin-left: 2em;
  }

  .buttons a p {
    font-family: "Inter";
    align-items: flex-start;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 0;
    color: #777e90;
    text-decoration: none;
    // margin-left: 2em;
    
  }

  .dropdown,
  .dropdownActive {
    height: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f7931a;
    gap: 1rem;
  }

  .dropdown svg {
    transition: 0.2s;
  }

  .dropdownActive svg {
    transform: rotate(180deg);
    transition: 0.2s;
  }

  .flexList {
    display: flex;
    flex-direction: column;
    gap:2em;
    margin-left: 2.5em;
  }
  .notList {
    display: none;
    pointer-events: none;
  }

  .ConnectButtom {
    width: 100%;
    // background: #000;
  }

  .login{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-radius: 6px;
    visibility: visible;
    width: 184.8px;
    cursor: pointer;
    color: white;
    background-color: #F4911A !important;
    line-height: 0;
    transition: color 4s, width 1s;
    
    
  }
}
